body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  display: table;
  margin: 0 auto;
}

img {
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}

